{% extends "base.html" %}



{% block styles %}
{{super()}} 

<script src="{{ bower_url_for('jquery', filename='dist/jquery.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/mystyle.css') }}"> 
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload-ui.css') }}">

<link rel="stylesheet" href="{{ bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.css')}}">
<script src="{{bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.js')}}"></script>
<script src="{{bower_url_for('bootstrap-table', filename='dist/extensions/export/bootstrap-table-export.js')}}"></script>


<script type="text/javascript" src="http://rawgit.com/kayalshri/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/jquery.base64.js"></script>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>



<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock styles %}




{% block scripts %}
{{super()}}

<script>
// Submit forms ------------------
     submitConfig = function(){
         // document.forms["config-form"].submit();
         // // Chrome says above function does not exist - document.forms.submit is not a function. I will leave it in for now since it doesn't really matter.
         
         window.location.href = "/analysis"
     }
</script>

{% endblock %}





{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Google Font: Open Sans -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">



<!-- HEADER --> 
<link rel="stylesheet" href="static/css/mvpready-landing.css">
<link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />


<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FUSED-Wind GUI</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="configure.html">Perform Analysis</a></li>
        <li><a href="../static/docs/html/index.html">Documentation</a></li>
        <li><a href="about.html"> About </a></li>

      </ul>
      

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/FUSED-Wind/fusedwind-gui">Github</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container banner webGUI">



<!-- ################### Main Content ################### -->
    <div class="container">
        <h1 > Perform Analysis </h1>
    </div>


    <div id="configure-content" class="container" >
        <div class="container" id="alert_placeholder"></div> 
        <div class="panel panel-default">
    		    {%- if not config_flag %}
    <!-- ### Information #### -->
        <div class="panel col-lg-6" >
            <div class="panel-body" >
                <p></p>
                <p>
                    There are a number of potential analysis configurations available in the FUSED-Wind framework.
                    These are roughly divided into model sets that include tier 1, tier 2 and tier 3 models.
                </p>
                <p></p>
                <p>
                    <b>Tier 1</b> models are the most basic models for wind turbine and plant analysis and are empirical in nature.
                    The NREL Cost and Scaling Models from 2006 and 2015 provide empirical scaling relationships for wind turbine components and overall plant cost based on technology trends.
                </p>
                <p></p>
                <p>
                    <b>Tier 2</b> models are simple physical models that size the major wind turbine components and simulate overall plant performance and cost.
                    The DTU Wind Energy SEAM models provide sizing for the rotor and tower while the NREL DriveSE model sizes the drivetrain components.
                    The new NREL cost models for balance of station reflect site-specific inputs that can vary based on location and geography.
                </p>
                <p></p>
                <p>
                    <b>Tier 3</b> models are actual wind turbine and plant design tools that require a relatively sophisticated knowledge about the technology in order to use them effectively in analysis.
                    An example of such models are the WISDEM RotorSE and TowerSE models include a full Blade Element Momentum theory aerodynamic analysis and finite element analysis of the blade and tower structure.
                </p>
                <p></p>
                <p>
                    In the configuration step, you will be able to select the level of analysis for the system (turbine subsystem, full turbine, entire plant)
                    as well as the type of analysis (individual analyses, sensitivity analyses and design / optimization):
                </p>
            </div>
        </div>


            <!-- Model Selection Modal -->
            <div class="col-lg-6 ">
            <form method="post" class="form" id='config-form'>
                
                <div class="tab-content" >
                    <div class="tab-pane active" id="modelselect">
                            <br>
                            <br>
                            <div class="panel">
                              <div class="panel-heading panel-grey" >
                                <h3 class="panel-title">Analysis Configuration</h3>
                              </div>
                              <div class="panel-body">
                                <tbody>
                                    {%- for field in config %}
                                    {%- if field.name not in ('csrf_token', 'submit') %}
                                    <tr>
                                        <td>{{field.name}}</td>
                                        <td>
                                            <div id='trigger-{{field.name|safe}}'>
                                                {{field(class="form-control")|safe}}
                                            </div>
                                        </td>
                                    </tr>
                                    {%- endif %}
                                    {%- endfor %}
                                </tbody>
                              </div>
                            </div>
                        
						<input class="btn btn-mvp col-lg-6 col-sm-2 col-xs-2" id="submit" name="submit" type="submit" onClick="submitConfig();" value="Start Analysis">
                    </div>
                </div>
            </form></div>
    
  

        </div>
        {%- endif %}
		    {%- if config_flag %}
		    <script>
		    		window.location.href = "/analysis"
				</script>
		    {%- endif %}
    </div>
</div>
{% endblock %}
