{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>FUSED-Wind</h1>
        <h2><small>Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="configure.html">Perform Analysis</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="presentation">
                    System Models <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"> <a href="/lcoe_csm_assembly">NREL CSM</a></li>
		            		<li role="presentation"> <a href="/lcoe_se_seam_assembly">DTU/NREL Integrated LCOE Model</a></li>
            		    <li role="presentation"> <a href="/lcoe_se_opt">DTU/NREL Integrated LCOE Model Optimization</a></li>
		            </ul>
            </li>
            <li role="presentation"><a href="documentation.html">Documentation</a></li>
        </ul>
    </div>
<div class="container">

    <div class="content">
    	  <p></p>
        <p> This page provides links to the documentation on all the different system models developed and integrated into the FUSED-Wind framework.</p>
        <p></p>
        
		<p><strong>Overall Documentation: </strong></p>
		
		<ul>
			<li>FUSED-Wind (<a href="http://fusedwind.org">http://fusedwind.org</a> for documentation and tutorials) is a partnership between DTU Wind Energy, NREL and others</li>
			<li>The OpenMDAO modeling environment (<a href="http://openmdao.org">http://openmdao.org</a>) underlies FUSED-Wind</li>
			<li>All the above software is built in the Python programming language (<a href="https://www.python.org/">https://www.python.org/ </a>for documentation and tutorials)</li>
		</ul>

		<p><strong>WISDEM documentation:</strong></p>
		
		<ul>
			<li>Basic WISDEM documentation for integrated assemblies can be found here: <a href="http://wisdem.github.io/WISDEM/">http://wisdem.github.io/WISDEM/</a></li>
		</ul>	

		<p>WISDEM Sub-model documentation by category:</p>
		
		<p>Design and Sizing:</p>
		
		<ul>
			<li>RotorSE: <a href="http://wisdem.github.io/RotorSE/">http://wisdem.github.io/RotorSE/</a></li>
			<li>DriveWPACT: <a href="http://wisdem.github.io/DriveWPACT/">http://wisdem.github.io/DriveWPACT/</a></li>
			<li>DriveSE: <a href="http://wisdem.github.io/DriveSE/">http://wisdem.github.io/DriveSE/</a></li>
			<li>TowerSE: <a href="http://wisdem.github.io/TowerSE/">http://wisdem.github.io/TowerSE/</a></li>
		</ul>
		
		<p>Cost Analysis:</p>
		
		<ul>
			<li>Turbine_CostsSE: <a href="http://wisdem.github.io/Turbine_CostsSE/">http://wisdem.github.io/Turbine_CostsSE/</a></li>
			<li>Plant_CostsSE: <a href="http://wisdem.github.io/Plant_CostsSE/">http://wisdem.github.io/Plant_CostsSE/</a></li>
			<li>Plant_FinanceSE: <a href="http://wisdem.github.io/Plant_FinanceSE/">http://wisdem.github.io/Plant_FinanceSE/</a></li>
		</ul>
		
		<p>Performance Analysis:</p>
		
		<ul>
			<li>AeroelasticSE: <a href="http://wisdem.github.io/AeroelasticSE/">http://wisdem.github.io/AeroelasticSE/ </a></li>
			<li>Plant_EnergySE: <a href="http://wisdem.github.io/Plant_EnergySE/">http://wisdem.github.io/Plant_EnergySE/</a></li>
		</ul>
		
		<p>Utilties:</p>
		
		<ul>
			<li>CommonSE: <a href="http://wisdem.github.io/CommonSE/">http://wisdem.github.io/CommonSE/</a></li>
			<li>AirfoilPreppy: <a href="http://wisdem.github.io/AirfoilPreppy/">http://wisdem.github.io/AirfoilPreppy/</a></li>
			<li>CCBlade: <a href="http://wisdem.github.io/CCBlade/">http://wisdem.github.io/CCBlade/</a></li>
			<li>pBEAM: <a href="http://wisdem.github.io/pBEAM/">http://wisdem.github.io/pBEAM/ </a></li>
			<li>pyFrame3DD: see <a href="http://svn.code.sourceforge.net/p/frame3dd/code/trunk/doc/Frame3DD-manual.html">documentation for Frame3DD</a></li>
		</ul>
		
		<p></p>

    </div>
</div>

{% endblock %}