<!-- error.html  2015 09 28 GNS 
  A generic template for displaying error messages
-->

{% extends "base.html" %}

{% block styles %}
{{super()}}
<script src="{{ bower_url_for('jquery', filename='dist/jquery.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/mystyle.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload-ui.css') }}">

<link rel="stylesheet" href="{{ bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.css')}}">
<script src="{{bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.js')}}"></script>
<script src="{{bower_url_for('bootstrap-table', filename='dist/extensions/export/bootstrap-table-export.js')}}"></script>
<script src="{{bower_url_for('notifyjs', filename='dist/notify.js')}}"></script>
<script src="{{bower_url_for('notifyjs', filename='dist/styles/bootstrap/notify-bootstrap.js')}}"></script>

<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/jquery.base64.js"></script>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>

<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock %}

{# ------------------------------------- #}

{% block head %}
{{super()}}

    {% block scripts %}
      {# scripts needs to be inside head #}
    {{super()}}
    <script>
    // Alert script ---------------------------
        function showalert(message, alerttype, delayms) {
           delayms = typeof delayms !== 'undefined' ?  delayms : 5000; // default parameters do not work in function() stmt
           $('#alert_placeholder').append('<div id="alertdiv" class="alert alert-' + alerttype + '" role="alert">' + 
                                           '<span>' + message + '</span></div>')
                                           
           setTimeout(function() { $("#alertdiv").remove(); }, delayms);
           // this will automatically close the alert and remove this if the users doesn't close it in 'delayms' ms
                
              
           }
    </script>
    {% endblock %}

{% endblock %}

{# ------------------------------------- #}

{% block content %}
<!-- HEADER --> 
<!-- used the bootswatch cerulean theme.--> 
<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />


<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FUSED-Wind GUI</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="configure.html">Perform Analysis</a></li>
        <li><a href="static/docs/index.html">Documentation</a></li>
      </ul>
      

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/FUSED-Wind/fusedwind-gui">Github</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container banner">
    <div ID="HeadTitle" class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 style="color:#FFFFFF">FUSED-Wind</h1>
                <h2><small style="color:#FFFFFF">Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>
            </div>
        </div>
    </div>
</div>



<!-- ################### Main Content ################### -->
<div class="container id=maincontent">
    <div class="container" id="alert_placeholder">
    </div>

  <p>
  <script>
    console.log('{{ errmssg }}');
    showalert('{{ errmssg }}', 'warning');
  </script>
</div>
  
  
{% endblock %}
