<!-- error.html  2015 09 28 GNS 
  A generic template for displaying error messages
-->

{% extends "base.html" %}

{% block styles %}
{{super()}}
<script src="{{ bower_url_for('jquery', filename='dist/jquery.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/mystyle.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload-ui.css') }}">

<link rel="stylesheet" href="{{ bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.css')}}">
<script src="{{bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.js')}}"></script>
<script src="{{bower_url_for('bootstrap-table', filename='dist/extensions/export/bootstrap-table-export.js')}}"></script>
<script src="{{bower_url_for('notifyjs', filename='dist/notify.js')}}"></script>
<script src="{{bower_url_for('notifyjs', filename='dist/styles/bootstrap/notify-bootstrap.js')}}"></script>

<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/jquery.base64.js"></script>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>

<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock %}

{# ------------------------------------- #}

{% block head %}
{{super()}}

    {% block scripts %}
      {# scripts needs to be inside head #}
    {{super()}}
    <script>
    // Alert script ---------------------------
        function showalert(message, alerttype, delayms) {
           delayms = typeof delayms !== 'undefined' ?  delayms : 5000; // default parameters do not work in function() stmt
           $('#alert_placeholder').append('<div id="alertdiv" class="alert alert-' + alerttype + '" role="alert">' + 
                                           '<span>' + message + '</span></div>')
                                           
           setTimeout(function() { $("#alertdiv").remove(); }, delayms);
           // this will automatically close the alert and remove this if the users doesn't close it in 'delayms' ms
                
              
           }
    </script>
    {% endblock %}

{% endblock %}

{# ------------------------------------- #}

{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Google Font: Open Sans -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.min.css">


<!-- HEADER --> 
<link href="../bower_components/animate.css/animate.min.css" rel="stylesheet">
<link rel="stylesheet" href="static/css/mvpready-landing.css">
<link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />

<div class="container-fluid">
  <header class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          FUSED-Wind GUI
        </a>
      </div> <!-- /.navbar-header -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="configure.html">Perform Analysis</a></li>
          <li><a href="documentation.html">Documentation</a></li>
          <li><a href="about.html"> About </a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/FUSED-Wind/fusedwind-gui">Github</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>


<div class="container banner">


  <!-- ################### Main Content ################### -->
  <div class="container id=maincontent">
      <div class="container" id="alert_placeholder">
      </div>

    <p>
    <script>
      console.log('{{ errmssg }}');
      showalert('{{ errmssg }}', 'warning');
    </script></p>
  </div>

</div>
  
{% endblock %}
