{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>FUSED-Wind</h1>
        <h2><small>Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="presentation">
                    Examples <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"> <a href="lcoe_csm_assembly">NREL CSM</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="static/docs/index.html">Documentation</a></li>
        </ul>
    </div>
<div class="container">

    <div class="content">
        Welcome to the DTU Wind Energy / NREL joint project on wind energy systems cost modeling.  
        This project allows the user to explore the impact of various system design changes on a wind plant's expected levelized cost of energy (LCOE).
        LCOE is a key metric for evaluating a the impact of a turbine or plant design change on overall system performance and cost.
        This version includes a basic cost of energy model that builds on NREL's wind plant cost and scaling model 
        and includes updated sizing methods for major turbine components that reflect current wind turbine and plant technology.
        Sensitivities can be applied to various parts of the model in order to simulate design changes and see how they cascade through the rest of the system.
    </div>
</div>

{% endblock %}
