{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>FUSED-Wind</h1>
        <h2><small>Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="presentation">
                    Examples <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"> <a href="lcoe_csm_assembly">NREL CSM</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="static/docs/index.html">Documentation</a></li>
        </ul>
    </div>
<div class="container">

    <div class="content">
        Welcome to the FUSED-Wind web-GUI ...
    </div>
</div>

{% endblock %}
