{% extends "base.html" %}
{% block styles %}
{{super()}} <!-- Bootstrap's javascript code. The super() gives u the option to amend blocks instead of replacing them. This renders the parents styles block (but nothing is in base.html but empty blocks)--> 

<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock styles %}



{% block scripts %}
{{super()}}

<script>
// Submit forms ------------------
     submitConfig = function(){
         document.forms["config-form"].submit();
         window.location.href = "/analysis"
     }
</script>

{% endblock %}

{% block content %}

<!-- HEADER --> 
<!-- used the bootswatch cerulean theme.--> 
<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />

<div class="container-fluid myNavBar">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FUSED-Wind GUI</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a href="configure.html">Perform Analysis</a></li>
          <li><a href="documentation.html">Documentation</a></li>
          <li><a href="about.html"> About </a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/FUSED-Wind/fusedwind-gui">Github</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container banner">
    <div ID="HeadTitle" class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 style="color:#FFFFFF">FUSED-Wind</h1>
                <h2><small style="color:#FFFFFF">Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>

                <a href="/configure.html" class="btn col-lg-3 btn-info btn-lg startButton">Start Analysis</a>

            </div>
        </div>
    </div>
</div> 







{% endblock %}
