{% extends "base.html" %}

{% block styles %}
{{super()}}
<!-- <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css"
    rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"> -->
<script src="{{ bower_url_for('jquery', filename='dist/jquery.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/mystyle.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload-ui.css') }}">

<link rel="stylesheet" href="{{ bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.css')}}">
<script src="{{bower_url_for('bootstrap-table', filename='dist/bootstrap-table.min.js')}}"></script>
<script src="{{bower_url_for('bootstrap-table', filename='dist/extensions/export/bootstrap-table-export.js')}}"></script>
<script src="{{bower_url_for('notifyjs', filename='dist/notify.js')}}"></script>
<script src="{{bower_url_for('notifyjs', filename='dist/styles/bootstrap/notify-bootstrap.js')}}"></script>

<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="//rawgit.com/kayalshri/tableExport.jquery.plugin/master/jquery.base64.js"></script>
<link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.css" rel="stylesheet" type="text/css">
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.1.min.js"></script>

<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock %}



{% block scripts %}
{{super()}}
<script src="{{ bower_url_for('bootstrap-treeview', filename='src/js/bootstrap-treeview.js') }}"></script>
<script>
// The treeview script ---------------------------------------------------------
var tree = {{ assembly_structure|safe }}
$('#assembly-tree').treeview({
        data: tree,
        enableLinks: true,
        showBorder: false,
        onNodeSelected: function(event, data){
            $('.comp-panels').hide();
            if ( $('.panel-'+data['text']).hasClass( 'hidden' ) ) $('.panel-'+data['text']).hide().removeClass('hidden');
            $('.panel-'+data['text']).toggle();
        }});
</script>

<script src="{{ bower_url_for('blueimp-file-upload', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/jquery.fileupload.js') }}"></script>


<script>
// The fileupload script -------------------------------------------------------
$('#fileupload').fileupload({
    dataType: 'json',
    singleFileUploads: false,
    forceIframeTransport: true,
    url: '/upload/',
    add: function (e, data) {
        var jqXHR = data.submit()
            .success(function (result, textStatus, jqXHR) {
                console.log('success-result',result);
                console.log('success-textStatus',textStatus);
                console.log('success-jqXHR',jqXHR);

                for ( var j = 0; j < result['files'].length; j++ ) {
                    content = result['files'][j].content
                    for (var key in content) {
                       if (content.hasOwnProperty(key)) {
                           var obj = content[key];
                           console.log(key,obj)
                           $('#'+key).val(function( index, value ) {
                                return obj;
                            });
                        }
                    }
                }
            });
        }
    });

</script>


<script>
// Table expansion for bootstrap ------------------
    function expandTable($detail, row) {
        $detail.html();
        if (row.type == 'Array') {
            buildArrayTable($detail.html('<p><b>Description:</b> ' + row.desc + '</p>' +
                                    '<p><b>Units:</b> ' + row.units + '</p>' +
                                    '<table data-show-export="true"></table>').find('table'), row);
        }
        else if (row.type == 'VarTree') {
            buildVTTable($detail.html('<p><b>Description:</b> ' + row.state.desc + '</p>' +
                                    '<table data-show-export="true">' +
                                        '<thead>' +
                                        '<tr>' +
                                            '<th data-field="name">Name</th>'+
                                            '<th data-field="state">Value</th>'+
                                        '</tr>'+
                                        '</thead></table>').find('table'), row.state);

        }
        else {
            $detail.html('<p><b>Description:</b> ' + row.desc + ';<b> Value (Units):</b> ' + row.state + ' (' + row.units + ')</p>');
        }
    }

    function buildVTTable($el, vtdata) {

        var data = [], row = []
        for (var key in vtdata) {
            row = {};
            if (vtdata.hasOwnProperty(key)) {
                row['name'] = key ;
                row['state'] = vtdata[key];
            }
            data.push(row)
        }
        $el.bootstrapTable({data: data});
    }

    function buildArrayTable($el, rowdata) {
        var i, j, row, cell,
                columns = [],
                data = [];
        var row0 = rowdata.state[0]
        if (row0.length >= 2){
            for (i = 0; i < row0.length; i++) {
                columns.push({
                    field: 'field' + i,
                    title: 'Col' + i,
                    sortable: true
                });

            }
            for(var i = 0; i < rowdata.state.length; i++) {
                var r = rowdata.state[i]
                row = {};
                for(var j = 0; j < r.length; j++) {
                    row['field' + j] = r[j];

                }
                data.push(row);
            }
        }
        else {
                columns.push({
                    field: 'field0',
                    title: 'Col0',
                    sortable: true
                });
                for(var i = 0; i < rowdata.state.length; i++) {
                    var r = rowdata.state[i]
                    row = {};
                    row['field0'] = rowdata.state[i];
                    data.push(row);
                }
        }

        $el.bootstrapTable({
            columns: columns,
            data: data,
            height: getHeight()
        });
    }
</script>


<script>
// Alert script ---------------------------
    function showalert(message,alerttype) {

        $('#alert_placeholder').append('<div id="alertdiv" class="alert alert-' +  alerttype + '" role="alert"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')

            setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 5 secs


                $("#alertdiv").remove();

            }, 2000);
        }
</script>

<script>
// Configuration scripts -------------------
		function configure_single() {
				document.getElementById('submit').disabled=false;
				document.getElementById('inputs_single').style.display = 'block';
     }

		function configure_sensitivity() {

			 }

		function configure_optimization() {

			 }
</script>

<script>
// Case recorder scripts ------------------
     function record_case() {
         console.log('calling record_case')
         $.ajax({
             url: '{{ name }}/record_case',
             type: 'POST',
             success: function(response) {
                 console.log(response);
                 showalert(response, 'success');
                },
             error: function(error) {
                 console.log(error);
             }
         });
     };

     function clear_recorder() {
         console.log('calling clear_recorder')
         $.ajax({
             url: '{{ name }}/clear_recorder',
             type: 'POST',
             success: function(response) {
                 console.log(response);

                 showalert(response, 'success');
             },
             error: function(error) {
                 console.log(error);
             }
         });
     };
// Submit forms ------------------
     submitForms = function(){
         document.forms["global-inputs-form"].submit();
     }
     submitConfig = function(){
         document.forms["config-form"].submit();
     }
</script>

{% endblock %}

{% block head %}
{{super()}}
{% if plot_resources %}
{{ plot_resources|indent(4)|safe }}

{{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}

{% block content %}

<!-- Navigation bar -->
<div class="container-fluid" id="navigation-bar">
    <div class="page-header">
        <h1>FUSED-Wind</h1>
        <h2><small>Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="configure.html">Perform Analysis</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="presentation">
                System Models <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation"> <a href="lcoe_csm_assembly">NREL CSM</a></li>
            		<li role="presentation"> <a href="lcoe_se_seam_assembly">DTU/NREL Integrated LCOE Model</a></li>
            		<li role="presentation"> <a href="lcoe_se_opt">DTU/NREL Integrated LCOE Model Optimization</a></li>
            </ul>
        </li>
        <li role="presentation"><a href="documentation.html">Documentation</a></li>
    </ul>
</div>

<!-- ################### Main Content ################### -->
<div class="container-fluid id=maincontent">
    <div class="container-fluid" id="alert_placeholder">
    </div>
    <div class="panel panel-default">

<!-- ####################  Buttons to run scripts ################### -->
		    <div class="panel-body" id='button-panel'>
		        <div class="btn-group">
		          	<button type="button"
                            class="btn nohover btn-success"
                            data-toggle="modal"
                            data-target="#configure-modal">Configure Analysis</button>

		        </div>
		        <span class="btn btn-success fileinput-button" >
		            <i class="glyphicon glyphicon-plus"></i>
		            <span>Load inputs</span>
		            <input id="fileupload" type="file" name="files[]" multiple >
		        </span>
		        <div class="btn-group">
		          	<button type="button" id="save" class="btn nohover btn-success" >Save</button>
		          	<button type="button" id="save_toggle" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		            		<span class="caret"></span>
		            		<span class="sr-only">Toggle Dropdown</span>
		          	</button>
		          	<ul class="dropdown-menu">
				            <li><a href="#" onClick='document.getElementById("download-inputs-form").submit()'>Save inputs</a></li>
				            <li><a href="#" id='recorder' onClick="record_case();">Record case</a></li>
				            <li><a href="#" id='clear-recorder' onClick="clear_recorder();">Clear recorder</a></li>
				            <li><a href="#" onClick='document.getElementById("download-full-model").submit()'>Save results</a></li>
				            <!-- <li role="separator" class="divider"></li>
				            <li><a href="#">Separated link</a></li> -->
		            </ul>
		        </div>
		        <input  class="btn btn-danger" disabled id="submit" name="submit" type="submit" onClick="submitForms()" value="Run">
		        <form id="download-inputs-form" method="get" action="/{{ name }}/download"></form>
		        <form id="download-full-model"  method="get" action="/{{ name }}/download_full"></form>

                <!-- Model Selection Modal -->
                <div class="modal fade bs-example-modal-lg" id="configure-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Analysis Configuration</h4>
                      </div>
                      <div class="modal-body">
                          <form method="post" class="form" id='config-form'>
                          <div class="tabbable"> <!-- Only required for left/right tabs -->
                          <ul class="nav nav-tabs">
                          <li class="active"><a href="#modelselect" data-toggle="tab">Model Selection</a></li>
                          <li><a href="#driverselect" data-toggle="tab">Driver Selection</a></li>
                          </ul>
                          <div class="tab-content">
                          <div class="tab-pane active" id="modelselect">
                          <h4 class="panel-title">Model Selection</h4>
                          <div class="row">
                              <div class="col-lg-10">
                                      {{ wtf.form_errors(inputs, hiddens='only') }}
                                      <table class="table table-striped" align="left">

                                          <thead>
                                          <tr>
                                              <th>Parameter</td>
                                              <th>Value</td>
                                          </tr>
                                          </thead>
                                          <tbody>
                                              {%- for field in config %}
                                              {%- if field.name not in ('csrf_token', 'submit') %}
                                              <tr>
                                                  <td>{{field.name}}</td>
                                                  <td>
                                                      <div id='trigger-{{field.name|safe}}'>
                                                          {{field(class="form-control")|safe}}
                                                      </div>
                                                  </td>
                                              </tr>
                                              {%- endif %}
                                              {%- endfor %}
                                          </tbody>
                                  </table>
                              </div><!-- /btn-group -->
                          </div>
                      </div>
                          <div class="tab-pane" id="driverselect">
                          <h4 class="panel-title">Driver Selection</h4>
                          Radio button list where click activates content based on user choice
                          <ul>
                                <li><a href="#" onClick="configure_single();">Single Run</a></li>
                                <li><a href="#" onClick="configure_sensitivity();">Sensitivity Analysis</a></li>
                                <li><a href="#" onClick="configure_optimization();">Optimization</a></li>
                          </ul>
                      </div>
                      <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                        <input  class="btn btn-success" id="submit" name="submit" type="submit" onClick="submitConfig()" data-dismiss="modal" value="Configure">
                      </div>
                    </div>
                  </div>
              </div>
          </form>
              </div>
                </div>

		    </div>

<!-- ################### divider to rest of content ################### -->
		    <div class="panel-body">
		    <div class="row">

<!-- ########################## The Description panel ############## -->
            <div class="col-md-2">
                <div class="panel-body">
                    <div class="panel panel-default" id='panel-'>
                        <div class="panel-heading">
                            <h3 class="panel-title">Model Description</h3>
                        </div>
                        <div class="panel-body">
                        		<p>{{desc}}</p>
                        </div>
                    </div>
                </div>
<!-- ########################## The Assembly navigation panel ############## -->
                <div class="panel-body">
                    <div class="panel panel-default" id='panel-'>

                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-target="#collapse-tree"
                                href="#collapse-tree" >
                                System Hierarchy
                                </a>
                            </h3>
                        </div>
                        <div id="assembly-tree"></div>
                    </div>
                </div>
            </div>

<!-- ########################## The Inputs panel ###    ######################## -->
            <div class="col-md-3" style="display: none" id='inputs_single'>
                <div class="panel-body">
		            <form method="post" class="form" id='global-inputs-form'>
                	  <div class="panel panel-group" id="accordion" role="tablist" area-multiselectable="true">
                	  	  {%- for group in group_list %}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                            		<h3 class="panel-title">
                            		<a role="button" data-toggle="collapse" href="#collapse{{group}}" aria-expanded="true" aria-controls="collapse{{group}}">
                            		{{group}} Inputs
                            	  </a>
                            		</h3>
                            </div>
                            {%- if group == 'Global' %}
                            <div id="collapse{{group}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{group}}">
                            {%- else %}
                            <div id="collapse{{group}}" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading{{group}}">
                            {%- endif %}
		                            <div class="panel-body"
		                                 align="center" id='global-inputs-panel'>

		                                    {{ inputs.hidden_tag() }}
		                                    {{ wtf.form_errors(inputs, hiddens='only') }}
		                                    <table class="table table-hover" align="left">
		                                        <col width="55%">
		                                        <col width="45%">
		                                        <tr>
		                                            <th>Parameter</td>
		                                            <th>Value</td>
		                                        </tr>
				                                    {%- for field in inputs %}
				                                    {%- if field.name not in ('csrf_token', 'submit') %}
				                                    {%- if group_dic[field.name] == group %}
				                                    <tr>
				                                        <td>{{field.description}} ({{field.name}})</td>
				                                        <td>
				                                            <div id='trigger-{{field.name|safe}}'>
				                                                {{field(class="form-control")|safe}}
				                                            </div>
				                                        </td>
				                                    </tr>
				                                    {%- endif %}
				                                    {%- endif %}
				                                    {%- endfor %}
		                                </table>
		                            </div>
		                        </div>
                    		</div>
                    		{%- endfor %}

												<script>
                        function getHeight() {
                            var h_nav = document.getElementById('navigation-bar').offsetHeight;
                            var h_btn = document.getElementById('button-panel').offsetHeight;
                            var h_win = $(window).height() - h_nav - h_btn - 50;
                            return String(h_win)+'px'
                        }
                            console.log(getHeight())
                            document.getElementById ( "global-inputs-panel" ).style.maxHeight = getHeight();
                            document.getElementById ( "global-inputs-panel" ).style.overflowY = "scroll";
                        </script>
                    </div>
				        </form>
            		</div>
            </div>

<!-- ###################### The Outputs panel ########################### -->
            <div class="col-md-7">
            {% if outputs %} <!-- Only show the outputs panel if there are outputs to show -->
            <div class="panel panel-body  comp-panels panel-{{name}}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Model Output Results and Current Input States</h3>
                    </div>
                    <div class="panel-body", align="center">
                        <table class="table"
                               id="global-outputs-table"
                               data-toggle="global-outputs-table"
                               data-sort-name="iotype"
                               data-show-columns="true"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-export="true"
                               data-detail-view="true">
                            <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="desc">Description</th>
                                <th data-field="state" data-formatter='validateOutputs'>Value</th>
                                <th data-field="units">Units</th>
                                <th data-field="iotype">I/O Type</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <script>
                    window['global-outputs-data'] = {{ outputs | tojson | safe }};
                    $('#global-outputs-table').bootstrapTable({data: window['global-outputs-data'],
                                                               height: getHeight(),
                                                               onExpandRow: function (index, row, $detail) {
                                                               expandTable($detail, row);
                                                               }
                                                              });
                    function validateOutputs(value, row) {
                        if (row.type == 'Array') {
                            return 'Array data';
                        }
                        else if (row.type == 'VarTree') {
                            return 'Vartree data';
                        }
                        else {
                            return row.state;
                        }
                    }
                    function getHeight() {
                        var h_nav = document.getElementById('navigation-bar').offsetHeight;
                        var h_btn = document.getElementById('button-panel').offsetHeight;
                        console.log(h_nav, h_btn)
                        return $(window).height() - h_nav - h_btn - 50;
                    }
                </script>
            </div>

            {% if plot_div %}
            <div class="panel-body comp-panels panel-{{name}}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Plot</h3>
                    </div>
                    <div class="panel-body", align="center">
                        {{ plot_script|indent(4)|safe }}
                        {{ plot_div|indent(4)|safe }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}

            {% if sub_comp_data %}

            {% for field, inout in sub_comp_data.iteritems() %}
            <div class="panel-body hidden comp-panels panel-{{field}}">
<!-- ############## The Component Input panel ############################## -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{field}}</h3>
                    </div>
                        <div class="panel-heading">Inputs & Outputs</div>
                        <div class="panel-body", align="center">
                            <table class="table"
                                   id="{{field}}-table"
                                   data-toggle="{{field}}-table"
                                   data-sort-name="iotype"
                                   data-show-columns="true"
                                   data-search="true"
                                   data-show-refresh="true"
                                   data-show-toggle="true"
                                   data-show-export="true"
                                   data-detail-view="true">
                                <thead>
                                <tr>
                                    <th data-field="name">Name</th>
                                    <th data-field="desc">Description</th>
                                    <th data-field="state" data-formatter='validateOutputs'>Current Value</th>
                                    <th data-field="units">Units</th>
                                    <th data-field="iotype">I/O Type</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                </div>
                <script>
                    window['{{field}}-data'] = {{ inout['params'] | tojson | safe }};
                    $('#{{field}}-table').bootstrapTable({data: window['{{field}}-data'],
                                                          height: getHeight(),
                                                          onExpandRow: function (index, row, $detail) {
                                                              expandTable($detail, row);
                                                          }
                                                         });
                    function validateOutputs(value, row) {
                        if (row.type == 'Array') {
                            return 'Array data';
                        }
                        else if (row.type == 'VarTree') {
                            return 'Variable Collection';
                        }
                        else {
                            return row.state;
                        }
                    }
                    function getHeight() {
                        var h_nav = document.getElementById('navigation-bar').offsetHeight;
                        var h_btn = document.getElementById('button-panel').offsetHeight;
                        return $(window).height() - h_nav - h_btn - 50;
                    }
                </script>

                {% if inout.plot %}
                    <div class="panel-body", align="center">
                        {{ inout.plot.script|indent(4)|safe }}
                        {{ inout.plot.div|indent(4)|safe }}
                    </div>
                {% endif %}
                </div>
                {% endfor %}
                {% endif %}
            </div>

<!-- ################### ending dividers ################### -->
        </div>
        </div>
  	</div>
</div>

{% endblock %}
