
{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/mystyle.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload-ui.css') }}">
<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock %}



{% block scripts %}
{{super()}}
<script src="{{ bower_url_for('jquery', filename='dist/jquery.js') }}"></script>
<script src="{{ bower_url_for('bootstrap-treeview', filename='src/js/bootstrap-treeview.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/jquery.fileupload.js') }}"></script>
<script>
    $(function () {

        var added_files = [];
        var submitted = false;
        $('#form-upload').fileupload({
            dataType: 'json',
            singleFileUploads: false,
            forceIframeTransport: true,
            url: '/upload/',
            add: function (e, data) {
                console.log('add', data);
                added_files.push(data);
                data.submit();

                //$('.thread-reply').unbind('click');
                //$('.thread-reply').on('click', function(e) {
                    //e.preventDefault();
                    data.formData = $('#form-upload').serializeArray();
                    var original_data = data;
                    var new_data = {files: [], originalFiles: [], paramName: []};
                    jQuery.each(added_files, function(index, file) {
                        new_data['files'] = jQuery.merge(new_data['files'], file.files);
                        new_data['originalFiles'] = jQuery.merge(new_data['originalFiles'], file.originalFiles);
                        new_data['paramName'] = jQuery.merge(new_data['paramName'], file.paramName);
                    });
                    new_data = jQuery.extend({}, original_data, new_data);
                    console.log(new_data);
                    new_data.submit();
                //});
            },
            submit: function (e, data) {
                console.log('submitted');
            },
            done: function (e, data) {
                console.log('done uploading');
            },
            send: function (e, data) {
                console.log('sending');
            }
        });
    });
</script>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="well">
            <form style="margin: 0px;" id="form-upload" enctype="multipart/form-data">
                <div class="row-fluid">
                    <div class="reply-control-group control-group">
                        <textarea id="reply-text" name="message" style="width: 98%;" rows="3"></textarea>
                        <div class="reply-spinner pull-right" style="display: none;"><p>hello</p></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <span class="btn btn-success fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span>Add Files...</span>
                        <input id="fileupload" type="file" name="files[]" multiple>
                    </span>
                    <span class="files">
                    </span>
                    <a class="btn btn-primary pull-right thread-reply" href="#"><i class="icon-share-alt icon-white"></i>Reply</a>
                </div>
            </form>
        </div>



    </div>

{% endblock %}
