{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <img src="static/dtuwind.png" align='right' class='media-right' width=30%>
        <h1>SEAM</h1>
        <h2><small>The DTU Wind Energy Systems Engineering Analysis Model</small></h2>
</div>
<div class="container">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="presentation">
                Examples <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation"> <a href="SEAMAssembly">SEAMAssembly</a></li>
        </ul>
      </li>
      <li role="presentation"><a href="static/docs/index.html">Documentation</a></li>
    </ul>
</div>
<div class="container">

    <div class="content">
        Welcome to the DTU Wind Energy ....
    </div>
</div>

{% endblock %}
