{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/mystyle.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload.css') }}">
<link rel="stylesheet" href="{{ bower_url_for('blueimp-file-upload', filename='css/jquery.fileupload-ui.css') }}">
<style>
.hidden {
  display: none !important;
  visibility: hidden !important;
}
</style>
{% endblock %}



{% block scripts %}
{{super()}}
<script src="{{ bower_url_for('jquery', filename='dist/jquery.js') }}"></script>
<script src="{{ bower_url_for('bootstrap-treeview', filename='src/js/bootstrap-treeview.js') }}"></script>
<script>
// The treeview script ---------------------------------------------------------
var tree = {{ assembly_structure|safe }}
$('#assembly-tree').treeview({
        data: tree,
        enableLinks: true,
        showBorder: false,
        onNodeSelected: function(event, data){
            $('.comp-panels').hide();
            if ( $('.panel-'+data['text']).hasClass( 'hidden' ) ) $('.panel-'+data['text']).hide().removeClass('hidden');
            $('.panel-'+data['text']).toggle();
        }});
</script>

<script src="{{ bower_url_for('blueimp-file-upload', filename='js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/jquery.iframe-transport.js') }}"></script>
<script src="{{ bower_url_for('blueimp-file-upload', filename='js/jquery.fileupload.js') }}"></script>


<script>
// The fileupload script -------------------------------------------------------
$('#fileupload').fileupload({
    dataType: 'json',
    singleFileUploads: false,
    forceIframeTransport: true,
    url: '/upload/',
    add: function (e, data) {
        var jqXHR = data.submit()
            .success(function (result, textStatus, jqXHR) {
                console.log('success-result',result);
                console.log('success-textStatus',textStatus);
                console.log('success-jqXHR',jqXHR);

                for ( var j = 0; j < result['files'].length; j++ ) {
                    content = result['files'][j].content
                    for (var key in content) {
                       if (content.hasOwnProperty(key)) {
                           var obj = content[key];
                           console.log(key,obj)
                           $('#'+key).val(function( index, value ) {
                                return obj;
                            });
                        }
                    }
                }
            });
        }
    });
</script>

{% endblock %}

{% block head %}
{{super()}}
{% if plot_resources %}
{{ plot_resources|indent(4)|safe }}

{{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="page-header">
        <!-- <img src="static/dtuwind.png" align='right' class='media-right' width=30%> -->
        <h1>FUSED-Wind</h1>
        <h2><small>Framework for Unified Systems Engineering and Design of Wind Energy Plants</small></h2>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="presentation">
                    Examples <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"> <a href="lcoe_csm_assembly">NREL CSM</a></li>
                </ul>
            </li>
            <!-- <li role="presentation"><a href="static/docs/index.html">Documentation</a></li> -->
        </ul>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel-body">
                        <!-- {{ wtf.quick_form(inputs, form_type='horizontal',
                        button_map={'submit_button': 'primary'})}} -->

<!-- ########################## The Assembly navigation panel ############## -->
                        <div class="panel panel-default" id='panel-'>
                            <div class="panel-heading">
                            <h3 class="panel-title">
                                <a data-target="#collapse-tree"
                                href="#collapse-tree" >
                                System Hierarchy
                                </a>
                            </h3>
                            </div>

                            <!-- <div id="collapse-tree" class="panel panel-default" > -->
                                    <div id="assembly-tree"></div>
                            </div>
                        </div>
                    <form method="get" action="/{{ name }}/download/" class="form">
                        <input class="btn btn-primary col-md-6" id="download" name="download" type="submit" value="Download">
                    </form>
                    </div>
                <div class="col-md-3">
                    <div class="panel-body">
<!-- ########################## The Inputs panel ###    ######################## -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Global inputs</h3>
                            </div>
                            <div class="panel-body", align="center">
                                <form method="post" class="form">

                                    {{ inputs.hidden_tag() }}
                                    {{ wtf.form_errors(inputs, hiddens='only') }}
                                    <table class="table table-hover" align="left">
                                        <col width="55%">
                                        <col width="45%">
                                        <tr>
                                            <th>Parameter</td>
                                            <th>Value</td>
                                        </tr>
                                    {%- for field in inputs %}
                                    {% if field.name not in ('csrf_token', 'submit') %}
                                    <tr>
                                        <td>{{field.description}} ({{field.name}})</td>
                                        <td>
                                            <div id='trigger-{{field.name|safe}}'>
                                                {{field(class="form-control")|safe}}
                                            </div>
                                        </td>
                                    </tr>
                                    {%- endif %}
                                    {%- endfor %}
                                </table>
                                <input class="btn btn-primary col-md-6" id="submit" name="submit" type="submit" value="Run">
                            </form>
                            <form style="margin: 0px;" id="form-upload" enctype="multipart/form-data">
                                <span class="btn btn-success fileinput-button col-md-6">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Load Input File</span>
                                    <input id="fileupload" type="file" name="files[]" multiple>
                                </span>
                            </form>
                                <div id="progress">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">

<!-- ###################### The Outputs panel ########################### -->
                {% if outputs %} <!-- Only show the outputs panel if there are outputs to show -->
                    <div class="panel panel-body  comp-panels panel-{{name}}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Outputs</h3>
                            </div>
                            <div class="panel-body", align="center">
                                <table class="table table-hover" align="left">
                                    <tr>
                                        <th>Name</td>
                                        <th>Value</td>
                                        <th>Units</td>
                                    </tr>
                                    {%- for vname, val in outputs.iteritems() %}
                                    <tr>
                                        <td>{{val.desc}}</td>
                                        <td>{{val.state}}</td>
                                        <td>{{val.units}}</td>
                                    </tr>
                                    {%- endfor %}
                                </table>

                            </div>
                        </div>
                    </div>

                {% if plot_div %}
                <div class="panel-body comp-panels panel-{{name}}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Plot</h3>
                        </div>
                        <div class="panel-body", align="center">
                            {{ plot_div|indent(4)|safe }}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            {% if sub_comp_data %}
            {% for field, inout in sub_comp_data.iteritems() %}
            <div class="panel-body hidden comp-panels panel-{{field}}">
<!-- ############## The Component Input panel ############################## -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{field}}</h3>
                    </div>
                    <div class="panel-body", align="center">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Inputs</h3>
                                        </div>
                                        <div class="panel-body", align="center">
                                            <table class="table table-hover" align="left">
                                                <tr>
                                                    <th>Name</td>
                                                    <th>Value</td>
                                                    <th>Units</td>
                                                </tr>
                                                {%- for vname, val in inout.params.inputs.iteritems() %}
                                                    <tr>
                                                        <td>{{val.desc}} ({{vname}})</td>
                                                        <td>{{val.state}}</td>
                                                        <td>{{val.units}}</td>
                                                    </tr>
                                                {%- endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
    <!-- ########### The Component Outputs panel ################################# -->
                            <div class="col-md-6">
                                <div class="panel-body">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Outputs</h3>
                                        </div>
                                        <div class="panel-body", align="center">
                                            <table class="table table-hover" align="left">
                                                <tr>
                                                    <th>Name</td>
                                                    <th>Value</td>
                                                    <th>Units</td>
                                                </tr>
                                                {%- for vname, val in inout.params.outputs.iteritems() %}
                                                    <tr>
                                                        <td>{{val.desc}} ({{vname}})</td>
                                                        <td>{{val.state}}</td>
                                                        <td>{{val.units}}</td>
                                                    </tr>
                                                {%- endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if inout.plot %}
                        <div class="panel-body", align="center">
                            {{ inout.plot.resources|indent(4)|safe }}
                            {{ inout.plot.script|indent(4)|safe }}
                            {{ inout.plot.div|indent(4)|safe }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
