{% extends "base.html" %}

{% block head %}
{{super()}}
{% if plot_resources %}
{{ plot_resources|indent(4)|safe }}

{{ plot_script|indent(4)|safe }}
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{name}}</h2>
                </div>
                <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Load Input File</h3>
                        </div>
                        <div class="panel-body">
                            <form action="/{{name}}" method="POST" enctype="multipart/form-data">
                                {{ load.hidden_tag() }}
                                {{ load.upload.label }} {{ load.upload() }}
                                <br><input type="submit" class="btn btn-default" value="Load Inputs">
                            </form>
                            <!--{{ wtf.quick_form(load, form_type='horizontal',
                            button_map={'submit_button': 'primary'})}}-->
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Inputs</h3>
                        </div>
                        <div class="panel-body">
                            {{ wtf.quick_form(inputs, form_type='horizontal',
                            button_map={'submit_button': 'primary'})}}
                        </div>
                    </div>
                </div>
                {% if outputs %} <!-- Only show the outputs pannel if there are outputs to show -->
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Outputs</h3>
                            </div>
                            <div class="panel-body">
                                {{ wtf.quick_form(outputs, form_type='horizontal')}}
                            </div>
                        </div>
                    </div>
                    {% if plot_div %}
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Plot</h3>
                                </div>
                                <div class="panel-body">
                                    {{ plot_div|indent(4)|safe }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
